.btn-toolbar{
    margin-left: auto;
}


.status-active {
    color: #ffffff; 
    background-color: #28a745; 
    padding: 5px 10px;
    border-radius: 12px;
}

.status-archived {
    color: #ffffff; 
    background-color: rgb(248, 74, 74); 
    padding: 5px 10px;
    border-radius: 12px;
}

.status-upcoming {
    color: #ffffff; 
    background-color: #007bff; 
    padding: 5px 10px;
    border-radius: 12px;
}

.status-completed , .status-pending {
    color: #ffffff; 
    background-color: #fd7e14; 
    padding: 5px 10px;
    border-radius: 12px;
}


.btn-gray{
    background-color: rgb(179, 177, 177) ;
    color: white;
}

.btn-gray:hover{
    background-color: rgb(179, 177, 177) ;
    color: white;
}


.img-c{
    width: 100%;
    height: 50%;
}


.list-compaign-active{
    padding:2%;
    margin-top: 100px;
}

.list-compaign-upcoming{
    padding:2%;
}


.title-list-compaign{
    margin-left: 2% ;
    margin-bottom: 2% ;
    font-size: 30px;
}

.card:hover{
    box-shadow:  0 6px 8px rgba(0, 0, 0, 0.3);
}

h2.complete , h4.complete{
    color: #fd7e14 ;
}

.icon-compaign{
    width: 60px;
    height: 60px;
    margin-bottom: 2%;
    
}

.text-des{
    width: 100%;
}



.fa-facebook-f {
    color: #3b5998; 
    font-size: 28px;

}

.fa-instagram {
    background: linear-gradient(45deg, #f58529, #d62976, #962fbf); /* Dégradé d'Instagram */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;

}

.fa-globe {
    font-size: 28px;
    color: #fd7e14; 

}
.btn-join{
    margin-top: 55px;
}


@media (max-width: 1190px) {
    .block_details{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
}