.content-profile{
    padding: 2%;
}

.nav-item-profile{
    padding: 1%;
}

.sidebar-text{
    font-size: 18px;
}

.nav-item-profile:hover{
    background-color: rgb(243, 241, 241);
    padding: 1%;
}